<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wsMeetupURL</key>
	<string>https://api.meetup.com</string>
	<key>wsAPIKey</key>
	<string></string>
	<key>wsOpenEvents</key>
	<string>/2/open_events</string>
	<key>wsGroups</key>
	<string>/2/groups</string>
	<key>wsTopics</key>
	<string>/topics</string>
	<key>wsTopicsSearch</key>
	<string>tech</string>
</dict>
</plist>
